@import url(../normalize.min.css);
/* HELPER CLASSES -- HELPERS.SASS */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900");
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 80%; }

/* BEGIN BASE STYLES -- BASE-DIR.SASS */
/* COMMON STYLES -- COMMON.SASS */
*, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0; }

* {
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

body {
  font-family: "Source Sans Pro";
  color: #000; }

::-webkit-scrollbar {
  display: none; }

h1 {
  font-weight: 900; }

h2, h3, h4, h5, h6, ol, ul {
  font-weight: 700; }

p, a, li {
  font-weight: 400; }

a:hover, a:active, a:focus, button:hover, button:active, button:focus {
  cursor: pointer;
  font-weight: 600; }

a {
  text-decoration: none; }

button {
  border: none;
  outline: none; }

/* FONTS - FONTS.SASS */
/* BEGIN COMPONENT STYLES -- COMPONENTS-DIR.SASS */
/* BUTTON STYLES - BUTTON.SASS */
.btn-icon, .btn {
  background-color: #e31936;
  border-radius: 2em;
  color: #FFF;
  font-size: .95em;
  margin: 1em 0 0 0;
  padding: .75em 3em; }
  .btn-icon:hover, .btn:hover, .btn-icon:active, .btn:active, .btn-icon:focus, .btn:focus {
    background-color: #cc1631; }

.btn-icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* STORY BLOCK STYLES - STORYBLOCK.SASS */
.story-block {
  border: 5px solid #000;
  border-radius: .5em;
  margin: .75em 0;
  width: 100%; }
  .story-block figcaption {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0; }
    @media all and (max-width: 940px) {
      .story-block figcaption {
        height: 60% !important;
        width: 100% !important; } }
    @media all and (max-width: 450px) {
      .story-block figcaption {
        padding-top: .25em; } }
    .story-block figcaption .story-block-heading {
      color: #e31936;
      margin: 0; }
    .story-block figcaption .story-block-author {
      margin: .375em 0 1em; }
    .story-block figcaption .story-block-blurb {
      color: rgba(0, 0, 0, 0.5);
      margin: 0; }
      .story-block figcaption .story-block-blurb a {
        color: #e31936;
        font-weight: 600; }
      .story-block figcaption .story-block-blurb span {
        color: #000;
        margin-bottom: -1em;
        font-weight: 700; }
    .story-block figcaption button {
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-top: 2em; }
      .story-block figcaption button:hover svg {
        stroke-width: 3; }
      .story-block figcaption button:hover p {
        font-weight: 600; }
      @media all and (max-width: 450px) {
        .story-block figcaption button {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          width: 100%; } }
      .story-block figcaption button svg {
        height: 20px;
        width: 20px; }
      .story-block figcaption button p {
        font-size: 1em;
        margin: 0 0 0 .5em; }
        @media all and (max-width: 450px) {
          .story-block figcaption button p {
            margin-left: -1.5em; } }

.preview {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  overflow: hidden; }
  .preview:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  @media all and (max-width: 940px) {
    .preview {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      height: auto; }
      .preview:nth-of-type(odd) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .preview .img-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    width: 40%; }
    @media all and (max-width: 940px) {
      .preview .img-container {
        height: 40%;
        width: 100%; }
        .preview .img-container img {
          max-width: 100%;
          height: auto; } }
    .preview .img-container img {
      width: 175%; }
  .preview figcaption {
    padding: 2em;
    width: 60%; }
    .preview figcaption .story-block-blurb {
      height: 72.5px;
      overflow: hidden; }

.full {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .full .img-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .full .img-container img {
      width: 100%; }
  .full figcaption {
    padding: 2em; }
    .full figcaption .story-block-blurb {
      height: auto;
      overflow: auto; }

/* FOOTER STYLES - FOOTER.SASS */
footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e31936; }
  footer #footer-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .5em 0; }
    footer #footer-wrapper a img {
      width: 35%; }
    footer #footer-wrapper #add-this #atstbx2 .at-share-btn-elements .at-share-btn .at-icon-wrapper, footer #footer-wrapper #add-this #atstbx2 .at-share-btn-elements .at-share-btn .at-icon {
      height: 22.5px !important;
      width: 22.5px !important; }

/* BEGIN VIEW SPECIFIC STYLES -- VIEWS-DIR.SASS */
/* SPLASH SECTION STYLES - SPLASH.SASS */
#splash {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/img/triangle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100vh; }
  @media all and (max-width: 940px) {
    #splash {
      background-color: #e31936;
      background-image: none; } }
  #splash .wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #splash .wrapper .sub-heading, #splash .wrapper .heading, #splash .wrapper .blurb {
      margin: 0; }
    #splash .wrapper .sub-heading, #splash .wrapper .heading {
      text-transform: uppercase; }
    #splash .wrapper .sub-heading {
      color: #707070;
      font-size: 1.5em; }
      @media all and (max-width: 940px) {
        #splash .wrapper .sub-heading {
          color: #FFF; } }
      @media all and (max-width: 665px) {
        #splash .wrapper .sub-heading {
          font-size: 1.25em; } }
    #splash .wrapper .heading {
      font-size: 5em; }
    #splash .wrapper .blurb {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.125em;
      font-weight: 600;
      width: 45%; }
      @media all and (max-width: 940px) {
        #splash .wrapper .blurb {
          width: 100%; } }
    @media all and (max-width: 940px) {
      #splash .wrapper a {
        background-color: #000;
        color: #FFF;
        margin-top: 2em; } }
    @media all and (max-width: 450px) {
      #splash .wrapper a {
        text-align: center;
        width: 100%; } }

/* STORIES SECTION - STORIES.SASS */
#stories {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #stories #stories-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.5em 0; }
    #stories #stories-wrapper .ad-container {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: .75em 0;
      width: 100%; }
      #stories #stories-wrapper .ad-container .ad-img {
        width: 20%; }
    #stories #stories-wrapper .story-block-container {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
